@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.sidebar {
  border: 1px solid gray;
  width: 200px;
  height: 100vh;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo img {
  width: 50px;
}

a {
  text-decoration: none;
  color: #2b2b2b;
}

a:hover {
    color: #2b2bb2;
    transition: 0.3s;
}

.bottom {
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    position: absolute;

    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.avatar img {
  width: 50px;
}
