:root{
    --ball-color: rgb(255, 136, 0);
    --bg-color: rgb(1, 18, 18);
    --width: 100px;
    --height: 100px;
    --b-radius: 50px;
}

body {
    background-color: var(--bg-color);
}

.ball {
    width: var(--width);
    height: var(--height);
    background-color: var(--ball-color);
    border-radius: var(--b-radius);
}
